.StartScreen {
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.StartScreen button {
  font-size:28px;
  background-color:teal;
  color:white;
  border:none;
  text-transform: uppercase;
  padding:15px;
}