.StartScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.StartScreen button {
  font-size: 18px;
  background-color: #0c0;
  color: white;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  padding: 5px 40px;
}
